.GamingContainer {
  min-height: 100vh;
  margin-top: 60px;
  margin-bottom: 60px;
  overflow-y: auto;
}
.GamingVideoTitle {
  display: flex;
  align-items: center;}

.GamingTitleIconContainer{
  width: 40px;
  height: 40px;
  border-radius: 80px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.GamingText{
  font-family: Roboto;
  font-size: 25px;
}

.GamingVideoList{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}
.LoaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
 @media screen and (min-width: 768px) {
    .GamingText{
        font-size: 35px;
    }   
    .GamingContainer{
        margin-left: 250px;
        margin-bottom: 0px;
    }
    .GamingTitleIconContainer{
        margin-left: 40px;
    }  
    .GamingVideoList{
         margin-left: 40px;
    }  

}