.NoVideosView{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
}
.NoVideosImage{
  width: 200px;
}
.NoVideosHeading{
  font-family: Roboto;
  font-size: 25px;
 }

.NoVideosNote{
  font-family: Roboto;
  font-size: 18px;
}
.RetryButton{
  border: none;
  background-color: #4f46e5;
  border-radius: 3px;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Roboto;
  font-size: 15px;
}
.VideoCardList{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
    .VideoCardList{
    margin-left: 20px;
    }
    .NoVideosImage{
        width: 450px;
    }
}