.NavBar{
  display: flex;
}
.NavigationLgContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 92%;
  position: fixed;
  top: 60px;
}
.NavOptions{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}

.NavLinkContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}
.NavText{
  font-family: 'Roboto';
  font-size: 18px;
  margin-left: 15px;
 
}

.ContactInfo{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.ContactHeading{
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
.ContactIcons{
  display: flex;
  align-items: center;
}
.ContactImage{
  height: 25px;
  width: 25px;
  border-radius: 50px;
  margin-right: 10px;
}
.ContactNote{
  font-family: 'Roboto';
  font-size: 18px;
}
.NavigationSmallContainer{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  bottom: 0;
  align-items: center;
}

 @media screen and (min-width: 768px) {
    .NavigationLgContainer{
        display: none;
    }
    .NavigationSmallContainer{
        display: none;
    }
 }